#zingy-header {
  .navbar-collapse {
    width: 169px;
    height: 40px;
  }
}

.navbar-default .navbar-toggle {
  border-color: @navbar-default-color;
}

.navbar-toggle {
  position: relative;
  float: left;
  padding: 9px 5px;
  margin-top: 8px;
  margin-right: -11px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-default .navbar-nav > li > a {
  color: #D9D9D9;
  font-size: 13px;
  font-weight: bold;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
}

.location {
  color: #ff7301;
}

@media (min-width: 1200px) {

  .container {
    width: 1070px;
  }

}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
  }

  .navbar-nav > li {
    float: right;
  }

  #zingy-header {
    .navbar-collapse {
      float: right;
    }
  }

}

//logo styles

.logo {
  position: absolute;
  z-index: 1
}

@media (min-width: 768px) {

  .mobile-logo {
    display: none
  }

}

@media (max-width: 768px) {

  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    left: 17px;
    position: relative;
    top: 19px;
  }

}

@media (min-width: 1200px) {
  #zingy-header {
    .container {
      width: 1070px;
      height: 40px;
    }
  }
}

// login / sign-up bell

.bell {
  position: absolute;
  right: 12%;
  top: 38px;
  z-index: 1
}