#zingy-header {
  .navbar-collapse {
    width: 169px;
    height: 40px;
    margin-top: 7px;
  }
}

.navbar-default .navbar-toggle {
  border-color: @navbar-default-color;
}

.navbar-nav {
  li {
    .dropdown-menu {
      margin-top: 4px;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
  }
}

.navbar-toggle {
  position: relative;
  float: left;
  padding: 9px 5px;
  margin-top: 8px;
  margin-right: -11px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-default .navbar-nav > li > a {
  color: #D9D9D9;
  font-size: 13px;
  font-weight: bold;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
}

.location {
  color: #ff7301;
}

@media (min-width: 1200px) {

  .container {
    width: 1070px;
  }

}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
  }

  .navbar-nav > li {
    float: right;
  }

  #zingy-header {
    .navbar-collapse {
      float: right;
    }
  }

}

//logo styles

.logo {
  position: absolute;
  z-index: 1
}

@media (min-width: 768px) {

  .mobile-logo {
    display: none
  }

}

@media (max-width: 768px) {

  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    left: 17px;
    position: relative;
    top: 19px;
  }

  .navbar-nav .open .dropdown-menu {
    background-color: #F2F2F2;
    padding-bottom: 20px;
  }

  #zingy-header {
    .navbar-collapse {
      width: 200px;
    }
  }

}

@media (min-width: 1200px) {
  #zingy-header {
    .container {
      width: 1070px;
      height: 40px;
    }
  }
}

// login / sign-up bell

.bell {
  position: absolute;
  right: 12%;
  top: 38px;
  z-index: 1
}

.quick-setting {
  width: 200px;
  background-color: #eaeaea;
  padding: 12px;
  border-radius: 5px;
  float: left;
  margin-top: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  span {
    margin-left: 40px;
    top: -5px;
  }

  ul {
    margin: 0;
    padding: 0
  }

  li {
    list-style-type: none;
    white-space: nowrap;
    padding: 0 4px
  }

  li a {
    display: block;
    color: #333;
  }

  select {
    width: 100%;
  }

}