<div class="panel-heading personl-details">
    <h4 class="panel-title">Personal & Contact Details</h4>
</div>
<div class="panel-collapse collapse in" id="personalDetails">
    <div class="panel-body">
        <form name="enthusiastForm" role="form" ng-submit="submit(enthusiastForm)">
            <div class="row">
                <div class="col-sm-4 form-group error">

                    <input
                            type="text"
                            name="firstName"
                            class="form-control"
                            placeholder="First Name"
                            ng-model="entity.firstName"
                            minlength="5"
                            required/>

                    <div ng-if="enthusiastForm.firstName.$dirty" ng-messages="enthusiastForm.firstName.$error"
                         class="errorMessages" ng-messages-include="app/shared/errors/errors.messages.tpl.html">
                        <div ng-message="server">{{enthusiastForm.firstName.$error.serverMessage}}</div>
                    </div>
                </div>
                <div class="col-sm-2 form-group">
                    <select class="form-control">
                        <option>M</option>
                        <option>F</option>
                    </select>
                </div>
                <div class="col-sm-3 form-group">
                    <input
                            type="text"
                            ng-model="entity.cellPhone"
                            class="form-control"
                            placeholder="Cell Phone"/>
                </div>
                <div class="col-sm-3 form-group">
                    <input
                            type="text"
                            ng-model="entity.workPhone"
                            class="form-control"
                            placeholder="Work Phone"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <input
                            type="text"
                            ng-model="entity.lastName"
                            class="form-control"
                            placeholder="Last Name"/>
                </div>
                <div class="col-sm-2 form-group">
                    <div class="input-group">
                        <input
                                type="text"
                                placeholder="DOB"
                                ng-model="entity.birthDate"
                                class="form-control"/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
                </div>
                <div class="col-sm-5 form-group">
                    <input
                            type="email"
                            ng-model="entity.email"
                            class="form-control"
                            placeholder="Email"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control" placeholder="Nationality"/>
                </div>
                <div class="col-sm-5 form-group col-xs-offset-2">
                    <input type="email" class="form-control" placeholder="Web-URL"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <select class="form-control">
                        <option>Select Country</option>
                        <option>India</option>
                        <option>America</option>
                        <option>China</option>
                    </select>
                </div>
                <div class="col-sm-5 form-group col-xs-offset-2">
                    <input type="email" class="form-control" placeholder="Facebook-URL"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input type="text" class="form-control" placeholder="Address Line 1"/>
                </div>
                <div class="col-sm-5 form-group">
                    <input type="email" class="form-control" placeholder="Youtube-URL"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input type="text" class="form-control" placeholder="Address Line 2"/>
                </div>
                <div class="col-sm-5 form-group">
                    <input type="email" class="form-control" placeholder="Any other-URL"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <select class="form-control">
                        <option>Select City</option>
                        <option>Pune</option>
                        <option>Mumbai</option>
                        <option>Banglore</option>
                    </select>
                </div>
                <div class="col-sm-5 form-group col-xs-offset-2">
                    <div class="input-group">
                        <input type="text" placeholder="Upload Profile Pic" id="birthDate" class="form-control">
                        <span class="input-group-addon">Browse</span></div>
                </div>
            </div>
            <div class="row border-bottom form-group">
                <div class="col-sm-4 form-group">
                    <select class="form-control">
                        <option>Select State</option>
                        <option>Maharastra</option>
                        <option>Gujrat</option>
                        <option>Karnatak</option>
                    </select>
                </div>
                <div class="col-sm-2 form-group">
                    <input type="text" placeholder="PIN" class="form-control">
                </div>
                <div class="col-sm-5 form-group">
                    <div class="input-group">
                        <input type="text" placeholder="Upload Gallery Pic" class="form-control">
                        <span class="input-group-addon">Browse</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>