<div class="col-lg-6 best-offers form-group">
    <div class="wrapper">
        <h1 class="pull-left">Best Offers on the block...!</h1>
        <a href="#" class="pull-right form-group">View all offers</a>
    </div>
    <div class="clear-both">
        <carousel>
            <slide ng-repeat="slides in offersSlides">
                <div class="box" ng-repeat="offer in slides">
                    <img ng-src="{{offer.imgUrl}}" class="img-responsive">
                    <div class="box-content">
                        <h4>{{offer.shop}}</h4>
                        <p>{{offer.offers[0].title}}</p>
                        <p>{{offer.offers[1].title}}</p>

                        <p class="pull-right">
                            <a href="">
                                <img src="assets/images/share.png" class="img-responsive"/>
                            </a>
                        </p>
                    </div>
                </div>
            </slide>
        </carousel>
    </div>
</div>