.account-settings {

  .panel-content {
    padding: 10px;
    font-size: 12px;
    background-color: #fff;
  }

  .account-settings-options {
    .welcome-block {
      margin-bottom: 5px;
      border-radius: 4px;
    }

    .panel-heading {
      padding: 8px 15px;
      border-bottom: none;
      border-top-right-radius: 0;
      border-top-left-radius: 0;

      a {
        color: #fff;
      }

    }

  }
}
