<div class="col-lg-6 current-events form-group">
    <div class="wrapper">
        <h1 class="pull-left">What’s happening around you..!</h1>
        <a href="#" class="pull-right form-group">View all events</a>
    </div>
    <div class="clear-both">
        <carousel>
            <slide ng-repeat="slides in eventsSlides">
                <div class="happening-box" ng-repeat="event in slides">
                    <div class="event-box">
                        <img ng-src="{{event.imgUrl}}" class="pull-left"/>
                        <span class="happening-txt">{{event.title}}</span>
                    </div>
                    <p>{{event.description}}</p>
                    <p><a href="#"><img src="assets/images/share.png"></a></p>
                </div>
            </slide>
        </carousel>
    </div>
</div>