.current-events {

  .event-box {
    height: 50px;
    width: 200px;
  }

  .happening-box {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 10px;

    p {
      text-align: left;
      font-size: 12px;
    }
  }

  .carousel-inner {
    width: 90%;
    height: 204px;
    margin: 0 auto;
  }

  .carousel-indicators {
    display: none;
  }

  .carousel-control {
    width: 5%;
    opacity: 1;
    background-image: none;
  }

  .wrapper {
    padding: 20px;
  }

}

@media (min-width: 1200px) {
  .current-events {
    .happening-box {
      margin-left: 20px;
    }
  }
}

@media (max-width: 768px) {
  .current-events {

    .happening-box {
      margin: auto;
      float: none;
    }

    .carousel-control {
      width: 5%;
    }

    .glyphicon {
      font-size: 30px;
    }

  }
}