<div class="panel-heading enthusiast">
    <h4 class="panel-title">Personal & Contact Details</h4>
</div>
<div class="panel-collapse" id="personalDetails">
    <div class="panel-body">
        <form name="enthusiastForm" role="form" ng-submit="submit(enthusiastForm,entityImage)">

            <div class="row">
                <div class="col-sm-12 form-group">
                    To update your personal & contact details in profile section please <a href="/account/profiles/{{user.profile._id}}">Click Here</a>.
                </div>
                <input type="hidden" name="profile" ng-init="entity.profile=user.profile._id" ng-model="entity.profile"/>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                <textarea name="aboutYourself"
                          class="form-control"
                          placeholder="About Yourself...."
                          ng-model="entity.aboutYourself"
                          minlength="5"
                          maxlength="400"
                          required> </textarea>

                    <div ng-if="enthusiastForm.aboutYourself.$dirty" ng-messages="enthusiastForm.aboutYourself.$error"
                         class="errorMessages" ng-messages-include="app/shared/errors/errors.messages.tpl.html">
                        <div ng-message="server">{{enthusiastForm.aboutYourself.$error.serverMessage}}</div>
                    </div>
                </div>
            </div>

            <div class="row border-bottom form-group">

                <div class="col-sm-12 form-group">
                    <tabset>
                        <tab ng-if="entity.sports.length" ng-repeat="sport in entity.sports"
                             heading="{{sport.name || 'Sport '+($index+1)}}" active="sport.active">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-sm-1 form-group pull-right">
                                        <a href ng-click="removeTab($index, 'sports')"><span
                                                class="glyphicon glyphicon-remove"></span></a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-7 form-group">
                                        <select name="{{'name'+$index}}"
                                                class="form-control"
                                                ng-model="sport.name"
                                                ng-options="sport as sport for sport in sports"
                                                required>
                                            <option value="">Which Sport Activity you like ?</option>
                                        </select>

                                        <div ng-if="enthusiastForm['name'+$index].$dirty"
                                             ng-messages="enthusiastForm['name'+$index].$error"
                                             class="errorMessages"
                                             ng-messages-include="app/shared/errors/errors.messages.tpl.html">
                                            <div ng-message="server">
                                                {{enthusiastForm['name'+$index].$error.serverMessage}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 form-group">
                                        <select name="{{'followingYears'+$index}}"
                                                class="form-control"
                                                ng-model="sport.followingYears"
                                                ng-options="experienceYear as experienceYear for experienceYear in experienceYears"
                                                required>
                                            <option value="">Years of following</option>
                                        </select>

                                        <div ng-if="enthusiastForm['followingYears'+$index].$dirty"
                                             ng-messages="enthusiastForm['followingYears'+$index].$error"
                                             class="errorMessages"
                                             ng-messages-include="app/shared/errors/errors.messages.tpl.html">
                                            <div ng-message="server">
                                                {{enthusiastForm['followingYears'+$index].$error.serverMessage}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="subscribeEvents">Do you want to subscribe events for this sports ? </label>
                                        <input id="subscribeEvents"
                                               name="subscribeEvents"
                                               type="checkbox"
                                               ng-model="sport.subscribeEvents"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="subscribeOffers">Do you to get offers for this sport ? </label>
                                        <input id="subscribeOffers"
                                               name="subscribeOffers"
                                               type="checkbox"
                                               ng-model="sport.subscribeOffers"/>
                                    </div>
                                </div>

                            </div>
                        </tab>
                        <tab-heading>
                            <a ng-click="addTab(enthusiastForm, 'sports')" class="add-sport"><i
                                    class="glyphicon glyphicon-plus-sign"></i> Add Sport</a>
                        </tab-heading>
                    </tabset>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    <button type="submit"
                            class="btn btn-primary">{{entity._id ? 'Update listing' : 'Enlist as Enthusiast'}}
                    </button>
                    <button type="submit"
                            ng-if="entity._id"
                            ng-click="remove(entity._id)"
                            class="btn btn-danger pull-right">Remove Listing
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>