<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if(isProduction) { %>
    <base href="https://justkhelo.herokuapp.com/">
    <% } else if(isStaging) { %>
    <base href="http://justkhelo.herokuapp.com/">
    <% } else { %>
    <base href="http://localhost:9000/">
    <% } %>
    <title>Just Khelo</title>
    <link href="assets/css/app.css" rel="stylesheet">
</head>
<body>

<header ng-include="'app/shared/header/header.tpl.html'"></header>
<section id="mainSection" ng-view ng-cloak autoscroll="true" ng-cloak></section>
<footer ng-include="'app/shared/footer/footer.tpl.html'"></footer>

<% if(isProduction || isDist) { %>
<script type="text/javascript" src="app.js"></script>
<% } else { %>
<script type="text/javascript" src="vendor/require/require.js" data-main="app/main"></script>
<% } %>
</body>
</html>
