   <br>
   <br>
   <br>
   <br>


    <div class="container">
       <div class="row">
            <div class="col-sm-3 col-lg-3 ">
                <div class="welcome-block">{{profileDetails.firstName}} {{profileDetails.lastName}}</div>
                <div class="coach-img"><img ng-src="{{profileImage}}" ng-init="getImageFromS3(profileDetails)" class="img-responsive "/></div>
                <div class="settings form-group">
                    <p>
                        <span class="pull-left"><span class="star-green"></span><span class="star-green"></span><span
                                class="star-green"></span><span class="star-grey-green"></span><span
                                class="star-grey"></span></span>
                        <span class="pull-right"><img src="assets/images/review.png"/> <span disqus-identifier="coach._id"></span> </span>
                    </p>

                    <div class="clear-both"><img src="assets/images/likes.gif" class="pull-left"/> <span
                            class="pull-left likes">87 Likes</span> <span class="pull-right"><div class="share-div">
                        <ul>
                            <li><a href="#"><img src="assets/images/share.png"/></a>
                                <ul class="collapse">
                                    <li>
                                        <div class="share-box" style="right:5px;top:30px">
                                            <p class="share-right"><img src="assets/images/share.png"
                                                                        class="img-responsive"/></p>

                                            <div class="social-network clear-both">
                                                <div class="pull-left"><img src="assets/images/facebook.png"
                                                                            class="pull-left"/></div>
                                                <div class="like-box"><span class="count">4.0 K</span></div>
                                            </div>
                                            <div class="social-network">
                                                <div class="pull-left"><img src="assets/images/twitter.png"
                                                                            class="pull-left"/></div>
                                                <div class="like-box"><span class="count">507</span></div>
                                            </div>
                                            <div class="social-network">
                                                <div class="pull-left"><img src="assets/images/google+.png"
                                                                            class="pull-left"/></div>
                                                <div class="like-box"><span class="count">4.5 K</span></div>
                                            </div>
                                            <div class="social-network">
                                                <div class="pull-left"><img src="assets/images/rss.png"
                                                                            class="pull-left"/></div>
                                                <div class="like-box"><span class="count">78.8 K</span></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div></span></div>
                    <p class="clear-both"><a href="#">{{profileDetails.email}}</a></p>

                    <p><a href="#">{{profileDetails.websiteUrl}}</a></p>

                    <p>Mobile {{profileDetails.cellPhone}}</p>

                    <p>Office {{profileDetails.workPhone}}</p>

                    <p>Registered address:<br/>{{profileDetails.streetOne}}<br/>{{profileDetails.streetTwo}}<br/>{{profileDetails.city}}: {{profileDetails.pin}}<br/>


                </div>
                <div class="row">
                    <div class="col.sm-12 form-group">
                        <div id="coach-addr-map-canvas"></div>
                    </div>
                </div>

                <div class="settings form-group">
                    <ul >
                        <li ng-repeat="sport in sports">
                            <p><h2>{{sport.certificationName}}</h2></p>

                            <p><img src="assets/images/certificate.jpg"/></p>

                            <p class="city"><h2>{{sport.certificationBody}}</h2></p>

                            <p>{{sport.certificationValidFrom}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-7 col-lg-7">
                <div class="row">
                    <div class="col-sm-5 col-lg-5">
                        <h1>About {{profileDetails.firstName}}</h1>

                        <p>Sea give. You're after yielding in. Given doesn't for him. Form kind day bearing seed.
                            Wherein. Air don't all tree years bearing moveth have multiply itself so to you're moveth
                            fruitful beast years saying. Seas give waters that firmament living you're moving replenish
                            behold after darkness our replenish bearing all every. Beast upon isn't over earth there
                            make lights image after.</p>

                        <p>Life was kind was saying fruitful yielding divide. Us all sixth Our image image their. Moved
                            may lights every green that fifth can't divide moved divide appear. </p>

                        <p><br/><a href="#">{{profileDetails.facebookUrl}}</a></p>

                        <p><a href="#">{{profileDetails.youtubeUrl}}</a></p>

                        <p><a href="#">{{profileDetails.websiteUrl}}</a></p>

                        <h3>Other Features</h3>

                        <div class="other-features">
                            <ul ng-repeat="sport in sports">
                                <li>Coaching: {{sport.name}}</li>
                                <li >Week end Coaching</li>
                                <li ng-if="sport.privateCoaching">Private Coaching</li>
                                <li ng-if="sport.coachingKids">Coaching for Kids (age 3 to 5 yrs)</li>
                                <li ng-if="sport.freeTrialClasses">Free trial sessions</li>
                            </ul>
                        </div>
                        <p><img src="assets/images/slider.jpg"/></p>
                    </div>

                    <div class="col-sm-7 col-lg-7">
                        <h1>Coaching Experience</h1>

                        <div class="coaching-exp form-group" ng-repeat="sport in sports">
                            <p>
                                <span class="exp-txt pull-left form-group">{{sport.name}} ({{sport.experienceYears}}yrs)</span>
                                <span class="pull-right"><span class="star-green"></span><span
                                        class="star-green"></span><span class="star-green"></span><span
                                        class="star-grey-green"></span><span class="star-grey"></span></span>
                            </p>
                            <table class="table-responsive clear-both exp-table form-group" width="100%">
                                <thead>
                                <tr>
                                    <th>Candidate</th>
                                    <th>Age</th>
                                    <th>Fees per session</th>
                                </tr>
                                </thead>
                                <tr ng-if="sport.coachingMen === true">
                                    <td>Men</td>
                                    <td>{{sport.menFromAge}} to {{sport.menToAge}}</td>
                                    <td>{{sport.menCharges}}/-</td>
                                </tr>
                                <tr ng-if="sport.coachingWomen === true">
                                    <td>Women</td>
                                    <td>{{sport.womenFromAge}} to {{sport.womenToAge}}</td>
                                    <td>{{sport.womenCharges}}/-</td>
                                </tr>
                                <tr ng-if="sport.coachingKids === true">
                                    <td>Kids</td>
                                    <td>{{sport.kidsFromAge}} to {{sport.kidsToAge}}</td>
                                    <td>{{sport.kidsCharges}}/-</td>
                                </tr>
                            </table>

                        </div>
                        <h1>Affiliation with sports facilities</h1>

                        <div class="coaching-exp form-group">
                            <div class="row form-group" ng-repeat="sport in sports">
                                <div class="col-sm-6 form-group ">
                                    <img src="assets/images/map.jpg"/>
                                </div>
                                <div class="col-sm-6">
                                    <h4>{{sport.name}}</h4>

                                    <p>{{sport.streetOne}}<br/>{{sport.streetTwo}}<br/>{{sport.city}}: {{sport.pin}}</br>Map
                                    </p>

                                    <p>Ph: {{profileDetails.cellPhone}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

           <div disqus="coach._id"></div>

        </div>

    </div>