.panel-footer {
  padding: 10px 15px;
  background-color: #797979;
  color: #fff;
  border-top: 1px solid #797979;
}

.number {
  float: left;
  margin-right: 35px;
  font-size: 12px
}

.number h2 {
  color: #f0b343;
  font-size: 32px;
  margin: 0;
}