<footer ng-controller="footer.ctrl">
    <!--bottom sports img-->

    <div class="btm-img">
        <div class=" container"><img src="assets/images/bottom_img.jpg" class="img-responsive"/></div>
    </div>

    <!--bottom popular sports section-->
    <div class="btm-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 form-group">
                    <h4>Most popular land sports</h4>

                    <p ng-repeat="landSport in landSports">{{landSport}}</p>
                </div>
                <div class="col-sm-2 form-group">
                    <h4>Most popular water sports</h4>

                    <p ng-repeat="waterSport in waterSports">{{waterSport}}</p>
                </div>
                <div class="col-sm-2 form-group">
                    <h4>Most popular air sports</h4>

                    <p ng-repeat="airSport in airSports">{{airSport}}</p>
                </div>
                <div class="col-sm-2 form-group">
                    <h4>Popular sports for kids</h4>

                    <p ng-repeat="kidsSport in kidsSports">{{kidsSport}}</p>
                </div>
                <div class="col-sm-2">
                    <h4>Weekend sports getaways</h4>

                    <p ng-repeat="sportsGateway in sportsGateways">{{sportsGateway}}</p>
                </div>
                <div class="col-sm-2">
                    <p><a href="#"><img src="assets/images/social-network.png"></a></p>

                    <p><a href="#"><img src="assets/images/google-play.gif"></a></p>

                    <p><a href="#"><img src="assets/images/app-store.gif"></a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="number">
                        <h2>{{registeredEntitiesCount.enthusiasts}}</h2>

                        <p>Registered<br>Enthusiasts</p>
                    </div>
                    <div class="number">
                        <h2>{{registeredEntitiesCount.players}}</h2>
                        <p>Registered<br>Players</p>
                    </div>
                    <div class="number">
                        <h2>{{registeredEntitiesCount.coaches}}</h2>
                        <p>Registered<br>Coaches</p>
                    </div>
                    <div class="number">
                        <h2>{{registeredEntitiesCount.facilities}}</h2>

                        <p>Listed<br>Facilities</p>
                    </div>
                    <div class="number">
                        <h2>{{registeredEntitiesCount.suppliers}}</h2>

                        <p>Listed<br>Suppliers</p>
                    </div>
                    <div class="number">
                        <h2>{{registeredEntitiesCount.events}}</h2>

                        <p>Listed<br>Events</p>
                    </div>
                    <div class="number">
                        <h2>{{registeredEntitiesCount.offers}}</h2>

                        <p>Listed<br>Offers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer1 footer-links">
        <div class="container">
            <ul class="links">
                <li><a href="#">Events registration?</a></li>
                <li><a href="#">Advertise with us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms of Use</a></li>
            </ul>
        </div>
    </div>
</footer>
